<h1>Editing trail</h1>

<% form_for(@trail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trail %> |
<%= link_to 'Back', trails_path %>