<% content_for :header do-%>
<h1>Listing rides</h1>
<% end -%>

<table>
  <tr>
    <th>Duration</th>
    <th>Distance</th>
    <th>Average speed</th>
    <th>Max speed</th>
    <th>Comments</th>
  </tr>

<% @rides.each do |ride| %>
  <tr>
    <td><%=h ride.duration %></td>
    <td><%=h ride.distance %></td>
    <td><%=h ride.average_speed %></td>
    <td><%=h ride.max_speed %></td>
    <td><%=h ride.comments %></td>
    <td><%= link_to 'Show', ride %></td>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <td><%= link_to 'Destroy', ride, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ride', new_ride_path %>
