<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <title>iRide</title>
  
  <%= stylesheet_link_tag 'scaffold', 'application' %>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'trails_map' %>
  
  <%#= javascript_include_tag 'jquery-1.4.2.min' %>
  <%#= javascript_include_tag 'only_jelly', *application_jelly_files %>
  
  <%= javascript_include_tag :jelly, *application_jelly_files %>
  <%= spread_jelly %>
  
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<div id="container">

  <%= yield %>
  
</div>

</body>
</html>
